.profile-pic {
  border-radius: 50%;
  border: 2.5px solid #fff;
  margin-top: 30px;
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo-img {
  height: 49px;
  width: 139px;
}

nav.main-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 139px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1,1);
  background-image: linear-gradient(138.71deg, #18A183 26%, #20B26B 72.01%);;
  z-index: 11;
  text-align: center;
}

ul.secondary-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 35px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.icon {
  height: 25px;
  width: 20px;
}

.actions {
  margin-top: 35px;
}

.login-text{
  font-size: 10px;
  margin-bottom: 5px;
}

div.login-details {
  position: absolute;
  bottom: 0;
  margin: 0 30px;
}

.down-icon {
  font-size: 10px;
}